
.container{
    align-items: center;
    justify-content: center;
   display: flex;
    border-radius: 5px;
    background: linear-gradient(to right, #0265E7,#31ABFE);
    padding-block: 10px;
    width:50%;

}

.card-header{
    align-items: stretch;
    justify-content: center;
    display: flex;
}
.card-title{
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#button{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #4BA2FF;
    border-radius: 50px;
    
}
#button:hover{
    background-color: rgb(13,110,253);
    
}
.card{
    border-radius: 10px;
    justify-content: space-evenly;
    border-width: 1px;
    
    
}
.Title{
    font-size: small;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}
#times {
    color:gainsboro;
}
#btn-button{
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50px;
}